### Configurations
# hcpa_url: datalad dataset url for HCP Aging
# hcpa_dir: relative path to HCP Aging subdataset inside its parent dataset
# hcpa_diff_url: datalad dataset url for preprocess HCP Aging diffusion data
# hcpd_url: datalad dataset url for HCP Development
# hcpd_dir: relative path to HCP Development subdataset inside its parent dataset
# hcpd_diff_url: datalad dataset url for preprocess HCP Development diffusion data

[DEFAULT]
hcpa_url = git@jugit.fz-juelich.de:inm7/datasets/datasets_repo.git
hcpa_dir = original/hcp/hcp_aging
hcpa_diff_url = git@gin.g-node.org:/jadecci/hcp_lifespan_diffproc.git
hcpd_url = git@jugit.fz-juelich.de:inm7/datasets/datasets_repo.git
hcpd_dir = original/hcp/hcp_development
hcpd_diff_url = git@gin.g-node.org:/jadecci/hcp_lifespan_diffproc.git

[USER]